@model RoleToReturnDto



<div class="my-3">
    <label asp-for="Name" class="col-form-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name"></span>  @*Return Inside Of ErrorMessage*@
</div>


