@model Department
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<br />
<br />

<form asp-action="Delete">
    <div class="my-3">
        <label asp-for="Code" class="col-form-label"></label>
        <input asp-for="Code" class="form-control" readonly/>
    </div>
    <div class="my-3">
        <label asp-for="Name" class="col-form-label"></label>
        <input asp-for="Name" class="form-control" readonly/>
    </div>
    <div class="my-3">
        <label asp-for="CreateAt" class="col-form-label"></label>
        <input asp-for="CreateAt" class="form-control" readonly/>
    </div>
    <div>
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-light">Back To List</a>

    </div>

</form>