@model Department
@{
    ViewData["Title"] = "Edit";
}

<h1>Update Page</h1>

<br />
<br />


<form asp-action="Edit">
    <div class="my-3">
        <label asp-for="Code" class="col-form-label"></label>
        <input asp-for="Code" class="form-control" />
        <span asp-validation-for="Code"></span> @*Return Inside Of ErrorMessage*@
    </div>
    <div class="my-3">
        <label asp-for="Name" class="col-form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>  @*Return Inside Of ErrorMessage*@
    </div>
    <div class="my-3">
        <label asp-for="CreateAt" class="col-form-label"></label>
        <input asp-for="CreateAt" class="form-control" />
        <span asp-validation-for="CreateAt"></span> @*Return Inside Of ErrorMessage*@
    </div>
    <div>
        <input type="submit" value="Save" class="btn btn-warning" />
        <a asp-action="Index" class="btn btn-light">Back To List</a>

    </div>

</form>
@section ValidationSection {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}