@model IEnumerable<Department>


<h1>All Departments</h1>

<br />
<br />
<a asp-action="Create" class="btn btn-primary">Create Department</a>
<br />
<br />

@if (Model.Count() > 0)
{
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Date Of Creation</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Code</td>
                    <td>@item.Name</td>
                    <td>@item.CreateAt</td>
                    <partial name="_IndexEmployeeDepartmentPartialView" model="@item.Id" />

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>
        <h4 class="mt-4 alert alert-info">
            There Are No Department:(
        </h4>
    </div>
}