
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AouthLayout.cshtml";
}


<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All"></div>
		<form asp-action="SignIn">
			<h2>Chek Your Inbox :)</h2>
		</form>
	
	</div>
</div>

